<include file='Public/header'/>
<div class="panel admin-panel margin-top">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改商品</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="" enctype="multipart/form-data">   
      <input type="hidden" name="id" value="{$info.id}">
      <div class="form-group">
        <div class="label">
          <label>商品名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="name" value="{$info.name}"  />         
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>货号：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="sn" value="{$info.sn}"  />         
          <div class="tips"></div>
        </div>
      </div>     
      <div class="form-group">
        <div class="label">
          <label>商品分类：</label>
        </div>
        <div class="field">
          <select class="input w50" name="cate_id" id="">
            <foreach name="list" item="vo">
              <option value="{$vo.id}" <if condition="$info['cate_id'] == $vo['id']">selected</if> >{$vo.pad}{$vo.name}</option>
            </foreach>
          </select>         
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>商品描述：</label>
        </div>
        <div class="field">
          <textarea type="text" class="input" name="remark" style="height:100px;" >{$info.remark}</textarea>        
        </div>
     </div>

     <div class="form-group">
        <div class="label">
          <label>商品详情：</label>
        </div>
        <div class="field">
          <script id="container" name="detail" type="text/plain">{$info.detail|htmlspecialchars_decode}</script>             
        </div>
     </div>

     <div class="form-group">
        <div class="label">
          <label>商品价格：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="price"  value="{$info.price}">
        </div>
     </div>

     <div class="form-group">
        <div class="label">
          <label>商品图片：</label>
        </div>
        <div class="field">
          <input type="file" class="input" name="goods_img" >
          <a href="{$info.goods_img}" target="_blank">{$info.goods_img}</a>
        </div>
     </div>

     <div class="form-group">
        <div class="label">
          <label>商品数量：</label>
        </div>
        <div class="field">
          <input type="number" class="input" name="number" value="{$info.number}">           
        </div>
     </div>
    
      <div class="form-group">
        <div class="label">
          <label>排序：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="shop_order" value="{$info.shop_order}"   />
          <div class="tips"></div>
        </div>
      </div>
     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>